{% extends "layout.nunjucks" %}

{% block content %}

<div>
  <h2>
    {% include "partials/how-to-get-started.html" %}
    Save and Load
  </h2>
</div>

<b><i>One of the virtues of the bow is that you can see the arrows in flight and correct
    your aim accordingly, whereas gunshot cannot be seen. You must appreciate the
    importance of this. - Miyamoto Musashi</i></b>

    <h4>I. About sunvox Files</h4>

    <p>The sunvox file is the root level file which contains the entire SunVox project. sunvox files are saved self-contained, meaning all audio referenced by the file is copied and saved into the file itself. This way you never have to worry about opening a session and finding out that audio could not be read because it was moved.</p>

    <h4>II. The File Browser</h4>

    <p>The file browser in SunVox is used to load and save both sunvox and `sunsynth` files (for more information about `sunsynth` files see the tutorial [Saving and Loading Modules as sunsynth Files](https://github.com/way-of-the-sunvox/Way-of-the-SunVox/blob/master/2--The-Module-Section/b--Saving-and-Loading-Modules-as-sunsynth-Files))</p>

    <h4>III. Saving Projects</h4>

    <p>How to save a sunvox file:</p>

    <div>
      <img class="visual-aid-100" src="https://way-of-sunvox.github.io/app/pages/tutorial/saving-and-loading/1.gif"/>
    </div>

    <h4>IV. Loading Projects</h4>

    <p>How to load a sunvox file:</p>

    <h4>V. About Hexadecimal</h4>

    <p>SunVox uses the Hexadecimal number system in many places in the application. Understanding hexadecimal is not mission critical when starting to learn SunVox, so feel free to go directly to the next tutorial (below), but if you'd like to gain an understanding of what Hexadecimal is and why it is used in SunVox, go to [Understanding Hexadecimal].</p>

{% endblock %}
