html {

  /* background-color: #111111;
  color: #DDDDDD; */
}

a {
  /* color: #0074D9; */
}

.visual-aid {
  width: 50%;
  height: auto;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 19px;
}

ul.main-menu li {
    float: left;
}

ul.main-menu li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
}

ul.main-menu li a:hover {
    background-color: #111111;
    color: white;
}

ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 19px;
}

ul.footer li {
    list-style-type: none;
    float: left;
}

ul.footer li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
}

.content {
  padding-left: 16px;
  padding-right: 16px;
}
