<!-- about.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}

<div>
 <h1>About</h1>
</div>

<p>Way of SunVox is a resource for learning SunVox and an aggregator of MetaModules, projects, and techniques.</p>

<p>It is run by Mark Reveley (aka mrev on forum) and is open for contributions by the community. The github repo can be found <a href="https://github.com/way-of-sunvox/way-of-sunvox.github.io">here</a>, pull requests are welcome. If you are not familiar with github, you can submit content/corrections/suggestions to me via email at mreveley (at) gmail.com.</p>

<p>You can hear some of my music made in SunVox on my <a href="https://soundcloud.com/markreveley"></a>Soundcloud</p>I also play and produce in the band <a href="https://soundcloud.com/dirtwire">Dirtwire</a></p>

{% endblock %}
