{% extends "layout.nunjucks" %}

{% block content %}

<h2><a href="https://way-of-sunvox.github.io/hot-to/how-to.html">How-To</a> ->
  Get Started
</h2>

<ul>
  <li><a href="https://way-of-sunvox.github.io/how-to/get-started/grok-sunvox/grok-sunvox.html">Grok SunVox</a></li>
  <li><a href="https://way-of-sunvox.github.io/how-to/get-started/install-sunvox/install-sunvox.html">Install SunVox</a></li>
  <li><a href="https://way-of-sunvox.github.io/how-to/get-started/save-and-load/save-and-load.html">Save and load</a></li>
</ul>

{% endblock %}
